* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    position: absolute;
    padding: 60px 0;
    width: 100%;
}

.header-wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    list-style: none;
}

.logo a {
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-bottom: 10px;
    text-decoration: none;
}

.logo p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.menu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    display: block;
    text-decoration: none;
    margin-right: 36px;
}

.menu li:last-child a {
    margin-right: 0;
}

.activ {
    border-bottom: solid #F1CDB3 3px;
    font-family: 'Arial';
    color: #FAFAFA;
}

.only {
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    padding: 180px 0 0;
}

.only-wraper {
    display: flex;
    justify-content: space-between;
}

.only-info {
    max-width: 40%;
}

.only-info h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 163px 0 42px;
    width: 325px;
}

.only-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    width: 460px;
    padding-bottom: 56px;
}

.only-info a {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    text-decoration: none;
    font-family: 'Georgia';
    font-style: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.only-info a:hover {
    background: #FDDCC4;
    border-radius: 100px;
}

.only-img {
    max-width: 58%;
}

.only-img img {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-pets {
    padding: 80px 0 100px;
}

.about-pets-wraper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-pets-text h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    width: 370px;
}

.about-pets-text p {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    width: 430px;
}


.about-pets-wraper img{
    display: block;
    background-size: 300px;
    padding-right: 125px;
    padding-left: 175px;
}

.about-pets-text{
    width: 50%
}

