* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
}

header {
    position: absolute;
    padding: 60px 0;
    width: 100%;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile-menu {
    width: 60px;
    display: none;
}

.menu ul {
    display: flex;
    list-style: none;
}

.logo a {
    display: block;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    padding-bottom: 10px;
    text-decoration: none;
}

.logo p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.menu li a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    display: block;
    text-decoration: none;
    margin-right: 36px;
}

.menu li:last-child a {
    margin-right: 0;
}

.activ {
    border-bottom: solid #F1CDB3 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: #FAFAFA;
}

.only {
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    padding: 180px 0 0;
}

.only-wrapper {
    display: flex;
    justify-content: space-between;
}

.only-info {
    max-width: 40%;
}

.only-info h1 {
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 163px 0 42px;
    max-width: 325px;
}

.only-info p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    max-width: 100%;
    padding-bottom: 41px;
}

.only-info a {
    display: inline-block;
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    text-decoration: none;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.only-info a:hover {
    background: #FDDCC4;
    border-radius: 100px;
}

.only-img {
    max-width: 58%;
}

.only-img img {
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
}

.about-pets {
    padding: 81px 0 98px;
}

.about-pets-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-pets-text h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 370px;
}

.about-pets-text p {
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
    max-width: 430px;
}

.about-pets-img {
    width: 50%;
    text-align: center;
}

.about-pets-wrapper img {
    padding-left: 47px;
}

.about-pets-text {
    width: 50%
}

.friends-pets {
    background: #F6F6F6;
    padding: 80px 0 100px;
}

.friends-wrapper h2 {
    max-width: 400px;
    margin: auto;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
}

.friends-slide-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 60px 0 59px;
}

.friends-slide {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.friends-wrapper a {
    display: block;
    padding: 15px 45px;
    width: 262px;
    margin: auto;
    text-decoration: none;
    background: #F1CDB3;
    border-radius: 100px;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.friends-wrapper a:hover {
    background: #FDDCC4;
}

.right,
.left {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background-color: #F6F6F6;
    cursor: pointer;
}

.right {
    margin-left: 53px;
}

.left {
    margin-right: 53px;
}

.left:hover {
    background: #FDDCC4;
}

.right:hover {
    background: #FDDCC4;
}

.friends-slide img {
    width: 270px;
}

.friends-slide div {
    background-color: #FAFAFA;
    border-radius: 9px;
    width: 270px;
}

.friends-slide div:hover {
    background-color: #FFFFFF;
}

.friends-slide div:last-child {
    margin-right: 0px;
}

.friends-slide p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 25px 0 30px;
}

.friends-slide a {
    background-color: #FAFAFA;
    width: 189px;
    padding: 14px 43px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-bottom: 30px;
}

.friends-slide a:hover {
    background: #FDDCC4;
}

.help-shelter {
    padding: 82px 0 98px;
}

.help-shalter-wrapper h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    width: 310px;
    margin: auto;
}

.help {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.help div {
    margin: 58px 60px 0;
}

.help div img {
    display: block;
    width: 60px;
    margin: auto;

}

.help div p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px;
}

.donation {
    padding: 80px 0 100px;
    background-color: #F6F6F6;
}

.donation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donation-dog {
    width: 56.41%;
    text-align: right;
    padding-right: 30px;
}

.donation-text {
    width: 43.59%;
}

.donation-text h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
    max-width: 300px;
}

.donation-text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 20px;
}

#card {
    display: block;
    vertical-align: middle;
    padding: 8px 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    background: #F1CDB3;
    border-radius: 9px;
    max-width: 349px;
}

#card::before {
    content: url(../images/credit-card.svg);
    width: 30px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}



#donation-info {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    max-width: 400px;

}

footer {
    background: linear-gradient(90.26deg, #7D604B 0.23%, #251000 99.8%);
    padding-top: 40px;
}

.footer-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-wrapper h2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    padding: 16px 0 33px;

}

footer .footer-wrapper>div {
    width: 300px;
}

footer p {
    min-height: 46px;
    display: flex;
    align-items: center;
    padding-left: 60px;
    color: #F1CDB3;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    margin-bottom: 25px;
}


footer a {
    color: #F1CDB3;
    text-decoration: none;
}

.animal img {
    display: block;
}

.email {
    background: url(../images/icon-email.svg) no-repeat left center;
}

.tel {
    background: url(../images/icon-phone.svg) no-repeat left center;
}

.local {
    background: url(../images/icon-marker.svg) no-repeat left center;
    padding-left: 42px;
}

@media (max-width: 1230px) {
    .container {
        max-width: 95%;
    }

}

@media (max-width: 1100px) {
    .friends-slide div:last-child {
        display: none;
    }

    .friends-slide {
        justify-content: space-around;
    }
}

@media (max-width: 960px) {
    .footer-wrapper {
        flex-wrap: wrap;

    }

    footer .footer-wrapper .contacts, footer .footer-wrapper .location {
        width: 50%;
    }

    footer .footer-wrapper .animal {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .only-info h1{
        padding-top: 50px;
    }

}

@media (max-width: 960px) {
    
}

@media (max-width: 840px) {
    .donation-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

    .donation-dog{
        width: 100%;
        text-align: center;
        padding-right: 0;
        padding-bottom: 20px;
    }

    .donation-text{
        text-align: center;
        width: 100%;
    }
    
    .donation-text h2,  .donation-text p{
        max-width: 400px;
        margin: auto;
        margin-top: 30px;
    }


    .friends-slide div + div {
        display: none;
    }

    .only-info h1{
        padding-top: 10px;
    }
}

@media (max-width: 765px){
    

    .only-img{
        display: none;
    }
    .only-info{
        max-width: 95%;
        margin-bottom: 20px;
        text-align: center;
    }

    .only-info h1{
        display: inline-block;
    }

    .about-pets-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-pets-img{
        width: 100%;
        margin-bottom: 30px;
    }

    .about-pets-text{
        width: 100%;
    }

    .about-pets-text p, .about-pets-text h2{
        text-align: center;
        max-width: 600px;
        margin: auto;
        margin-bottom: 20px;
    }




    footer .footer-wrapper .contacts, footer .footer-wrapper .location {
        width: 100%;
        text-align: center;
    }

    .menu{
        display: none;
    }

    .mobile-menu {
        display: block;
    }
}

@media (max-width: 510px){
    .friends-slide-wrapper{
        flex-wrap: wrap;
        justify-content: center;
    }

    .friends-slide{
        order: -1;
        width: 100%;
        margin-bottom: 30px;
    }

    .left, .right {
        margin: 0 10px;
    }
}